body{
	background-color: #f4f4f4;
	color: #555;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 15px;
	line-height:1.6em; /*space between line*/
	margin:0;
}

.container{
	width: 80%;
	margin: auto;
	overflow: hidden; /*no scroll bar when element accidentally leaves it's container*/
}
.container a{ /*rid of logo a tag styling*/
	color: inherit;
	text-decoration: none;
}

#main-header{
	/*background-image: url(../images/main-header-bg.jpg);
	background-repeat: none;
	background-size: 8%;*/
	background-color: #8B6742;
	color: white;
	font-family: Kristen ITC;
	font-size: 25px;
	letter-spacing: 0.4em;

	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	border-bottom: 8px;
	border-style: solid;
	border-color: #654321;
}

#main-header img{
	float: left;
}

#navbar{
	background-color: #D2691E;
	color: white;
}
#navbar ul{
	padding: 0;
	list-style: none;
}

#navbar li{ /*individual lists*/
	display: inline; /*horizontal display of navigation*/
	font-family: Arial;
	font-weight: bold;
	padding: 5px;
	border:4px #181818 solid; /*border for each list*/
	margin-left: 15px;
	border-top-left-radius: 15px;
	border-bottom-right-radius: 15px;
}

#navbar a{ /*navbar text*/
	color: white;
	text-decoration: none;
	font-size: 20px;
	padding: 15px;
	/*padding-right: 15px;*/
}

#navbar a:hover{
	color: brown;
}

/*drop down below*/
#navbar ul li ul{ /*drop down*/
	display: none;
	padding: 10px; /*helped with some positioning*/
	position: absolute;
}

#navbar ul li:hover ul{ /*hover list shows drop down of it's ul*/
	display: block; /* display li in li on new line*/
	z-index: 100;
}

#navbar ul li ul li{ /*drop down elements*/
	display: block; /*drop down on new line*/
	margin-left: 120px;
	margin-top: 10px;
	background-color: #D2691E;
}


#showcase{
	background-image: url("../images/showcase-photos.png");
	/*background-position: center right; mirror*/
	background-size: 100%;
	background-repeat: no-repeat;
	min-height: 300px; /*adjust height to window size*/
	margin-bottom: 15px; /*space between main and showcase*/
	/*text-align: center;*/
	float: left;
	width: 80%;
	padding: 45px;
	box-sizing: border-box;
}

#showcase h1{
	color: brown;
	font-size: 30px;
	font-style: italic;
	line-height: 0.6em;
	text-align: center;
	margin-left: 400px;
	-webkit-text-stroke-width: 1px; /*text outline*/
   	-webkit-text-stroke-color: white;
}
/*to prevent the welcome looking funny:
add the header to the actual picture
*/

#sidebar{
	float: right;
	width: 20%;
	background: #333;
	color: white;
	padding: 45px;
	box-sizing: border-box;
}

#main-area{
	width: 90%;
	padding-left: 50px;
}

#footer{
	background-color: #101010;
	color: white;
	text-align: center;
	padding: 20px;
	margin-top: 260px;

	position: relative;
	bottom: 0px;
}
#copyright{
	float: right;
	margin-top: 100px;
	margin-right: 300px;
}
#find{
	font-style: italic;
	margin-right: 850px;
}

@media(max-width: 600px){ /*make website response once px*/
	#main{
		width: 100%;
		float: none;
	}

	#sidebar{
		width: 100;
		float: none;
	}
}

#loginbutton{
	float: right;
	top: 105px;
	right: 130px;
	position: absolute;
}
#loginbutton:hover {
	background-color: green;
}

#logindropdown{
	padding: 1000px;
	left: -135px;
}


/*mailto form*/
#main-area h1{
	font-size: 50px;
}
#main-area li{
	font-size: 20px;
	padding-top: 20px;
}

#mailto-button{
	font-size: 25px;
	border: 5px grey solid;
	border-radius: 30px;
	margin-top: 29px;
	margin-left: 13%;
	padding: 15px;
}
#mailto-button:hover{
	color: black;
	background: white;
}

#mailto-form{
	color: black;
	background: grey;
	font-size: 20px;
	border: 3px black solid;
	border-radius: 10px;
	margin-left: 50px;
	margin-top: 30px;
	padding: 20px;
	text-align: right;
	width: 100%;
	display: none;
}
#mailto-form textarea {
  width: 300px;
  height: 150px;
  margin-top: 10px;
}
#msglabel{
	font-size: 25px;
}
#text{
	float: right;
	margin-right: 10%;
}
#button{
	font-size: 18px;
	border: 1px green solid;
	border-radius: 20px;
	margin-top: 5px;
	padding: 7px;
}
#button:hover{
	background: white;
}
#mailto-link{
	background: purple;
	color: white;
	border: 2px white solid;
	border-radius: 10px;
	font-size: 40px;
	text-decoration: none;
	text-align: center;
	line-height: 1.2em;
	padding: 40px;
	margin-top: 50px;
	/*position: fixed;
	top: 350px;
	right: 500px;*/

	display: none;
}
#mailto-link:hover{
	background: #9932CC;
}


.buttondiv{
	float: left;
	width: 20%;
}
.formdiv{
	float: left;
}
.link{
	float: left;
	width: 30%;
	margin-left: 10%;
}